.grid-container-create {
   
  padding: 10px;
  text-decoration: none;
 
}

.grid-item-create {
  padding: 20px;
  text-decoration: none;
}



input {
  width: 100%;
  font-size: 1rem;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.standard-button {
  text-decoration: none;
  color: white;
}





.add-form {
display: flex;
justify-content:space-around;


}

.icon {
margin: auto;
width: 15%;
display: flex;
}




input[type="submit"] {
  width: 100%;
  background-color: #ffc107;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2984b1;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 5%;
}

.form-control {
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }


  