@import "../../../variables";


.grid-container-create {
  padding: 10px;
  text-decoration: none;
}

.grid-item-create {
  padding: 20px;
  text-decoration: none;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-form {
  display: flex;
  justify-content: space-around;
}

.icon {
  margin: auto;
  width: 25%;
  display: flex;
  margin-bottom: 10px;
}

.add-button {
  color: $secondary-color;
}
