.navbar {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 100%;
    padding: 12px 16px;
    color: white;
    text-decoration: none;


}

.mobile_icon {
    color:#ffc107!important;
    padding-right: 5px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: midle;
}