// colors

$primary-color: #ffc107;
$secondary-color: #000000;
$white: white;
$trash-color: red;


//form colors

$background-form: #53565A;
$form-typography: #888;
$input-color:  #F8F8F8;


//button colors

$primary-button: #ffc107;